{{ partial "head.html" . }}
<body>
    <script type="text/javascript" src="/js/script.js"></script>
    {{ partial "header.html" . }}
    <div class="slideshow__inner wrapper">
        <div class="slideshow__main">
            <div id="slideshow__title">
                <!-- <p>
                Bespoke 3D visualization
                </p> -->
            </div>
            <div id="slideshow">
                <div>
                    <img src="/gallery/images/1703_FL01_zhiyaochen-01_wire.jpg" title="Interior design by Fiona Lynch">
                </div>
                <div>
                    <img src="/gallery/images/1703_FL01_zhiyaochen-01.jpg" title="Interior design by Fiona Lynch">
                </div>                
                <div>
                    <img src="/gallery/images/1818_ChLofts_zhiyao-chen-01_wire.jpg">
                </div>
                <div>
                    <img src="/gallery/images/1818_ChLofts_zhiyao-chen-01.jpg">
                </div>
                <div>
                    <img src="/gallery/images/01_1914_1620NDO_zhiyao-chen_01.jpg">
                </div>
                <div>
                    <img src="/gallery/images/1602_threshold_zhiyaochen-05.jpg">
                </div>
                <div>
                    <img src="/gallery/images/1910_origine-verdun_zhiyao-chen_08.jpg">
                </div>
                <div>
                    <img src="/gallery/images/1910_origine-verdun_zhiyao-chen_07.jpg">
                </div>
                <div>
                    <img src="/gallery/images/1602_threshold_zhiyaochen-01.jpg">
                </div>
                <div>
                    <img src="/gallery/images/1910_origine-verdun_zhiyao-chen_04.jpg">
                </div>
                <div>
                    <img src="/gallery/images/1828_techo-bloc_zhiyao-chen_06.jpg">
                </div>
                <div>
                    <img src="/gallery/images/1828_techo-bloc_zhiyao-chen_01.jpg">
                </div>
                <div>
                    <img src="/gallery/images/msdl_ericsson_zhiyaochen-01.jpg">
                </div>
            </div>
        </div>
    </div>
</body>