/* Core styles */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
 }

body {
  font-family: 'Roboto', Arial, sans-serif;
  background: #f4f4f4;
  color: #000;
  font-size: 1.2em;
  line-height: 1.4;
  text-align: center;
}

footer,header,nav {
  display: block
 }

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  transition: 0.25s ease
}

a:hover {
  color: #0000ff;
  font-style: none;
}

/* homepage slideshow */

.slideshow__inner {
  margin-left: calc(.5 * 12px);
  margin-right: calc(.5 * 12px);
}

.slideshow__main {
  margin: 6em auto;
}
@media (min-width:48em) {
  .slideshow__main {
    margin-top: 4em;
    margin-bottom: 12em;
  }
}

#slideshow__title {
  padding-top: 35px;
  padding-left: 25px;
  position: absolute;
  z-index: 1;
  width: 75%;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #FFF;
}
@media (min-width:48em) {
  #slideshow__title {
    padding-top: 45px;
    width: 60%;
    font-size: 32px;
    line-height: 36px;
  }
}
@media (min-width:72em) {
  #slideshow__title {
    padding-top: 55px;
    padding-left: 75px;
    width:35%;
    font-size: 40px;
    line-height: 48px;
  }
}

#slideshow {
  margin: auto;
  position: relative;
  max-width: 1280px;
  height: 380px;
  padding: 10px;
  z-index: auto;
}
@media (min-width:48em) {
  #slideshow {
    height: 600px;
  }
}
@media(min-width:72em) {
  #slideshow {
    height: 768px;
  }
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#slideshow > div > img {
  height: 100%;
  object-fit: cover;
  object-position: 80% 80%
}

/* header */

.header__inner {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.header__nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: calc(7.5 * .5rem);
  margin-top: calc(7.5 * .5rem);
  padding-left: 60px;
  padding-right: 60px;
}

.header__list {
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
 }

.header__item:nth-child(1) {
  margin-bottom:calc(4 * .5rem);
  text-align:center;
  width:100%;
}
@media (min-width:48em) {
  .header__item:nth-child(1) {
   margin-bottom:0;
   text-align:left;
   width:auto;
 }
}

.header__item:nth-child(2) {
  margin-left:auto;
  margin-right:auto;
}
@media (min-width:48em) {
  .header__item:nth-child(2) {
    margin-left:auto;
    margin-right:0px;
  }
}
@media (min-width:48em) {
  .header__item:nth-child(3) {
   margin-right:auto
  }
}

.header__link {
   text-decoration: none;
}

/* body */

.overlay-top {
  margin: 0 auto;
  margin-top: 1rem;
  width: 65%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 48em) {
  .overlay-top {
    padding: 1rem;
    width: 100%;
  }
}

.overlay-bottom {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 65%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media screen and (max-width: 48em) {
  .overlay-bottom {
    padding: 1rem;
    width: 100%;
  }
}

/* Information */
.info {
  background-color: #fff;
  height: 100%;
  padding-top: 3em;
  padding-bottom: 10em
}

.info__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left:12px;
  padding-right:12px;
  padding-top:1em;
  font-size: 14px;
  text-align:left
}
@media (min-width: 48em) {
  .info__section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 90%;
  padding-left: 40px;
  padding-top: 40px
  }
}

.info__contact {
   flex: 1;
}

.info__contact p {
  font-size: 1.3em;
}

.info__title {
   font-weight: 400;
   line-height: 1.4em;
}

.wrapper {
  margin-left:auto;
  margin-right:auto;
  max-width:calc(170 * .5rem);
  padding-left:calc(.5 * 6px);
  padding-right:calc(.5 * 6px)
}

/*# sourceMappingURL=static/css/style.css.map */
