<header class="header">
    <div class="header__inner wrapper">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                        <a class="header__link" href="{{.Site.BaseURL}}">
                            <img src="/header_logo_001.png" alt="Primer" class="top">
                        </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="/info/">Info</a>
                </li>
            </ul>
        </nav>
    </div>
</header>